:root {
    --cor-planoDeFundo: #f2f2f2;
    --cor-tituloPrincipal: #A65437;
    --cor-subTitulo: #F26938;
    --cor-texto: #0f0f0f;
    --cor-retangulo: #268ea6;
}

body {
    font-family: "Ubuntu", sans-serif;
    background-color: var(--cor-planoDeFundo);
}

.logo img {
    width: 45vh;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
}


.navbar-nav li{
    flex: 1; /* Cada item ocupa o mesmo espaço */
    text-align: center;
}

.navbar-nav li i{
    color: var(--cor-subTitulo);
    font-size: 25px;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 17px;
}

.bar {
    background-color: var(--cor-retangulo);
    padding: 2px;
}
