:root {
    --cor-planoDeFundo: #f2f2f2;
    --cor-planoDeFundo2: #e4e4e4;
    --cor-tituloPrincipal: #A65437;
    --cor-subTitulo: #F26938;
    --cor-texto: #0f0f0f;
    --cor-retangulo: #268ea6;
    --cor-titulo2: rgb(13, 13, 192); 

    --titulo: 32px;
    --subtitulo: 22px;
    --texto: 16px;
}

body {
    font-family: "Ubuntu", sans-serif;
    background-color: var(--cor-planoDeFundo);
    max-width: 100%;
}

h1 {
    font-size: var(--titulo);
}

.logo {
    max-width: 80%;
}

.logo img {
    max-width: 90%;
    width: 55vh;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
}


.navbar-nav li{
    flex: 1; /* Cada item ocupa o mesmo espaço */
    text-align: center;
}

.navbar-nav li i{
    color: var(--cor-subTitulo);
    font-size: var(--subtitulo);
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--texto);
}

.bar {
    background-color: var(--cor-retangulo);
    padding: 2px;
    height: 7px;
}

.titulo {
    font-size: var(--titulo);
}

.texto-1 {
    text-align: center;
    margin: 30px auto;
    justify-content: center;
    max-width: 70%;
}

.texto-1 h2 {
    font-weight: bold;
}

.texto-1 p {
    font-size: var(--texto);
}

.botao-acessibilidade {
    display: flex;
    height: 40px;
    width: 40px;
    background-color: #268ea6;
    margin-top: 50px;
    align-content: center;
    border-radius: 8px;
    position: fixed;
    right: 10px; /* define o botão no lado direito da tela */
    top: 110px; /* define a distância do topo */
    z-index: 2; /* traz o botão para frente de tudo */
    cursor: pointer;
}

.botao-acessibilidade i, .botao-tamanho-letras i, .botao-descricao-visual i {
    display: flex;
    align-items: center;
    margin: 0 auto;
    font-size: 25px;
}

.botao-tamanho-letras {
    top: 160px;
}

.botao-descricao-visual {
    top: 210px;
}

.container-body {
   /* height: 1500px;  apenas pra testar se o botão da acessibilidade ficou fixado na tela, pode ser retirado depois */
}

.secao-descricao {
    margin-top: 30px;
    overflow: hidden;
}

.secao-descricao h1{
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
    color: var(--cor-tituloPrincipal);
}

.secao-descricao p {
    font-size: var(--texto);
    color: var(--cor-texto);
}

.iframe {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.foto-descricao {
    text-align: center;
    align-items: center;
}

.foto-descricao img {
    
}

.conheca-equipe {

    background-color: var(--cor-planoDeFundo2);
}

.conheca-equipe h1 {
    text-align: center;
    color: var(--cor-retangulo);
    font-weight: bold;
}

.equipe-foto .card{
    align-items: center;
    margin: 0 auto;

}

.card {
    border: 2px #FFF solid;
    max-width: 100%;
}

.card h5 {
    font-weight: bold;
}

footer {
    color: var(--cor-texto);
    text-align: center;
    padding: 25px 0 50px 0px;
    height: 100%;
    background-color: var(--cor-retangulo);
    background-image: radial-gradient(circle, #1a465053 1px, rgba(0, 0, 0, 0) 1px);
    background-size: 1rem 1rem;
}

footer h1 {
    font-size: var(--titulo);
    color: var(--cor-planoDeFundo);
    padding: 25px 0px;
}

footer h2 {
    font-size: var(--subtitulo);
}

footer .info-contatos {
    font-size: var(--texto);
    text-wrap: nowrap;
    color: var(--cor-planoDeFundo);
}

footer .bi {
    color: var(--cor-planoDeFundo);
    width: 30px;
}

footer .bi-whatsapp{
    color: var(--cor-planoDeFundo);
}

footer .info-contatos {
    
}

.btn {
    border: #1a6f51 solid 2px;
}

footer a {
    text-decoration: none;
}

.copyright{
    font-size: 16px;
    height: 36px;
    background-color: #225a67;
}

.copyright p {
    margin: 0;

}


/*Próximo Evento*/
.cronograma{
    margin: 10px;
}

.cronograma a {
    text-decoration: none;
}
.tarja {
    background-color: var(--cor-retangulo);
    
}

.encontroft{
    margin: 15px 0;
}

.texto-encontro{
    text-align: center;
    align-items: center;
    margin: 20px 0;
}


h3{
    font-size: var(--subtitulo);
    color: var(--cor-planoDeFundo2); 
    padding: 25px; 
    
}