:root {
    --cor-planoDeFundo: #f2f2f2;
    --cor-planoDeFundo2: #e4e4e4;
    --cor-tituloPrincipal: #A65437;
    --cor-subTitulo: #F26938;
    --cor-texto: #0f0f0f;
    --cor-retangulo: #268ea6;
    --cor-titulo2: rgb(13, 13, 192); 

    --titulo: 32px;
    --titulo-aumentado: 38px;
    --subtitulo: 22px;
    --subtitulo-aumentado: 28px;
    --texto: 16px;
    --texto-aumentado: 22px;
}

body {
    font-family: "Ubuntu", sans-serif;
    background-color: var(--cor-planoDeFundo);
    max-width: 100%;
}


.logo {
    max-width: 80%;
}

.logo img {
    max-width: 90%;
    width: 55vh;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
}


.navbar-nav li{
    flex: 1; /* Cada item ocupa o mesmo espaço */
    text-align: center;
}

.navbar-nav li i{
    color: var(--cor-subTitulo);
    font-size: var(--subtitulo);
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--texto);
}

.bar {
    background-color: var(--cor-retangulo);
    padding: 2px;
    height: 7px;
}

.bar-2 {
    background-color: var(--cor-subTitulo);
    padding: 2px;
    height: 7px;
}

.botao-acessibilidade {
    display: flex;
    height: 40px;
    width: 40px;
    background-color: #268ea6;
    margin-top: 50px;
    align-content: center;
    border-radius: 8px;
    position: fixed;
    right: 10px; /* define o botão no lado direito da tela */
    top: 110px; /* define a distância do topo */
    z-index: 2; /* traz o botão para frente de tudo */
    cursor: pointer;
}

.botao-acessibilidade i, .botao-tamanho-letras i {
    display: flex;
    align-items: center;
    margin: 0 auto;
    font-size: 25px;
}

.botao-tamanho-letras {
    top: 160px;
}

#botao-libras {
    display: flex !important;
    position: fixed !important;
    top: 280px !important;
    right: 0px !important;

}
.collapse {
    align-items: center;
}

.secao-descricao {
    margin-top: 30px;
    overflow: hidden;
}

.secao-descricao h1{
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
    color: var(--cor-tituloPrincipal);
}

.secao-descricao p {
    color: var(--cor-texto);
}

.iframe {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.foto-descricao {
    text-align: center;
    align-items: center;
}

.conheca-equipe {
    background-color: var(--cor-planoDeFundo2);
}

.conheca-equipe h1 {
    text-align: center;
    color: var(--cor-retangulo);
    font-weight: bold;
}

.equipe-foto .card{
    align-items: center;
    margin: 0 auto;
}

.card {
    border: 2px #FFF solid;
    max-width: 100%;
}

.card h5 {
    font-weight: bold;
}

footer {
    color: var(--cor-texto);
    text-align: center;
    padding: 25px 0 50px 0px;
    height: 100%;
    background-color: var(--cor-retangulo);
    background-image: radial-gradient(circle, #1a465053 1px, rgba(0, 0, 0, 0) 1px);
    background-size: 1rem 1rem;
}

footer h1 {
    font-size: var(--titulo);
    color: var(--cor-planoDeFundo);
    padding: 25px 0px;
}

footer h2 {
    font-size: var(--subtitulo);
}

footer .info-contatos {
    font-size: var(--texto);
    text-wrap: nowrap;
    color: var(--cor-planoDeFundo);
}

footer .bi {
    color: var(--cor-planoDeFundo);
    width: 30px;
}

footer .bi-whatsapp{
    color: var(--cor-planoDeFundo);
}

.btn {
    border: #1a6f51 solid 2px;
    margin: 0 auto;

}
    
footer a {
    text-decoration: none;
}

footer .test {
    text-align: center;
    justify-content: space-around;
    align-items: center;
}


.faca-insc {
    background-color: #0f0f0f1b;
    border-radius: 25px;
    width: 320px !important;
    margin-top: 25px;
    padding: 30px 0px 40px 0px;
}

.faca-insc h1 {
    margin-bottom: 25px;
}

.copyright{
    font-size: 16px;
    height: 36px;
    background-color: #225a67;
    color: #d8d8d8;
}

.copyright p {
    margin: 0;
}


/*Próximo Evento*/
.cronograma{
    margin: 10px 0;
    max-width: 100%;
}

.cronograma a {
    text-decoration: none;
}

.cronograma h1 {
    font-weight: bold;
}
.tarja {
    background-color: var(--cor-retangulo);
    
}

.encontroft{
    margin: 15px 0;
}

.texto-encontro{
    text-align: center;
    align-items: center;
    margin: 20px 0;
}


h3{
    font-size: var(--subtitulo);
    color: var(--cor-planoDeFundo); 
    padding: 25px; 
}

.table {
    max-width: 100%; 
}

.fotos-body h1 {
    text-align: center;
    margin: 15px;
    color: var(--cor-retangulo);
    font-weight: bold;
}


.fotos-item, .fotos-item-3{
    margin: 20px 0;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fotos-item p, .fotos-item-3 p{
    margin-top: 10px;
}

.fotos-img{
    width: 450px;
    height: 350px;
}

.fotos-img-3{
    height: 400px;
}

.modal-body img {
    width: 100%;
    height: 100%;
}

.table {
    max-width: 100%;
}

.carousel-item {
    position: relative;
  }
  
  .carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    z-index: 1;
  }
  
  .carousel-caption h4{
    position: relative;
    z-index: 2; /* Garante que o texto fique acima do degradê */
  }
  
  .carousel-item img {
    max-height: 600px;
  }
